<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <h2>Modifier mon profile </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <label class="control-label"  for="pseudo">Pseudo</label></br>
          <input type="text" class="form-control" id="user_pseudo" name="user[pseudo]" autofocus="true" placeholder="pseudo">
        </div>

        <div class="field">
          <label class="control-label"  for="email">Email</label></br>
          <input type="email" class="form-control" id="user_email" name="user[email]" aria-describedby="emailHelp" autofocus="true" placeholder="Email">
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <label class="control-label"  for="password">Mot de passe </label> </br><i>(Laisser vide si vous ne voulez pas le changer)</i><br />
          <input type="password" class="form-control" id="user_password" name="user[password]" autocomplete="off" placeholder="Mot de passe">

          <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div class="field">
          <label class="control-label"  for="password_confirmation">Confirmation du mot de passe</label>
          <input type="password" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" autocomplete="off" placeholder="Confirmation du mot de passe">
        </div>

        <div class="field">
          <label class="control-label"  for="user_current_password">Mot de passe actuel</label><i>(Rentrer votre mot de passe pour confirmer les changements)</i><br />
          <input type="password" class="form-control" id="user_current_password" name="user[current_password]" autocomplete="off" placeholder="">

        </div>
        </br>
        <div class="actions">
          <button type="submit" class="btn btn-primary">Modifer</button>

        </div>
    <% end %>

    <h3>Supprimer mon compte</h3>

    <p>Supprimer? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Voulez-vous vraiment supprimer votre compte" }, method: :delete %></p>

  </div>
</div>

